* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chat-app {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.room-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.room-container input {
  padding: 10px;
  font-size: 16px;
}

.room-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 75%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  word-break: break-word;
}

.own-message {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.other-message {
  background-color: lightblue;
  align-self: flex-start;
  text-align: left;
}

.join-message {
  background-color: #ffeb3b;
  color: #000;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.message-form {
  display: flex;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 2;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button {
  padding: 10px 20px;
  font-size: 16px;
  width: 20%;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

